button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
/* #region header */
.header-navigation {
 border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.pages-navigation {
  gap: 40px;
  display: flex;
  column-gap: 40px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
.menu {
  display: flex;
  
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  
}
.logo-studio {
  color: #2e2f42;
}
.link {
  display: flex;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

.contact {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.link:hover,
.link:focus {
  color: #404bbf;
}
/* #endregion */
/* #region main section-1 */
.section-one {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
}
.title {
  max-width: 496px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
 
}
.button-order {
  display: block;
  min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;

  background-color: #4d5ae5;
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}
/* #endregion */
/* #region main section-2 */
.section-two {
  padding: 120px 0
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-list {
   margin-bottom: 8px;
  width: calc((100% - 72px) / 4);
}

.section-block {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  gap: 24px;
}
.section-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
  width: 264px;
}
.text-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* #endregion */
/* #region main section-3 */

.section-three {
  padding: 120px 0;
  display: flex;
  background: #f4f4fd;
  height: 732px;
}
.section-three-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
   margin-bottom: 72px;
}
.section-pictures {
  display: flex;
  justify-content: center;
  gap: 24px;
  }
  .container-name {
    padding: 32px 0
  }
.section-foto {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
}
.name {
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-top: 32px;
  margin-bottom: 8px;
}
.type-of-employment {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* #endregion */
/* #region main section-4 */
.section-portfolio {
  padding: 120px 0 120px 0;
}
.title-portfolio {
  
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-row {
  width: 350px;
   width: calc((100% - 48px) / 3);
}
.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}
.portfolio-list-foto {
  column-gap: 24px;
  row-gap: 48px;
display: flex;
flex-wrap: wrap;

}
.portfolio-name {
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px
}
.job-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
}
/* #endregion */

.footer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;

  width: 1128px;
  height: 312px;
  background-color: #2e2f42;
}
.logo-footer {
  display: inline-block;
   margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  
  
}
.web-footer {
  color: #f4f4fd;
  font-size: 18px;
  line-height: 1.16666;
  letter-spacing: 0.54px;
}
.text-footer {
  width: 264px;
  padding-top: 17.5px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
